page-dailymessages {

  ion-content{
    background-color:#f7f7f7 !important;
  }
  .box-white{
    background-color: white;
    padding: 10px;
  }
  .box-red-1{
    background-color: #4fc3f7;
    padding: 10px;
    color: white;
  }
  .middleContent{
    font-size: 1.2em;
  }
}
