page-programlist {

    .box-white{
        background-color: white;
        padding: 10px;
      }
      .box-red-1{
        
        color: white;
        height: 175px;
      }
      ion-content{
        background-color:#f7f7f7 !important;
      }
      h6{
        font-size: 12px !important;
      }
      .small-text{
        font-size: 10px;
      }
      ion-slide{
        width: 75% !important;
        margin-right: 5px;
      }
      a{
        text-decoration: none;
      }
      h1{
        font-family: Marriwheather !important;
        font-size: 20px;
      }
      p{
        font-family: Marriwheather !important;
        font-size: 16px;
        text-align: justify;
      }

}
